@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Integrantes:</p>
<ul>
    <li>Victor Ariel Enciso: 26 a&ntilde;os, sigo ingenier&iacute;a inform&aacute;tica y me gusta el futbol.</li>
    <li>Lucas Ocampos: 23 a&ntilde;os. Odia las exposiciones. No tiene webcam :( . Dice que la mejor parte de la cuarentena es no hacer horas de practicas asistida</li>
</ul>
